.main{
    display: flex;
    flex-direction: column;

    padding-left: 56px;
    padding-right: 57px;
    padding-top: 28px;
}

.calculatorAndCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
}