.main{
    display: flex;
    padding-left: 56px;
    padding-right: 57px;
    padding-top: 28px;
    justify-content: center;
}

.calculatorAndCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    max-width: 1327px;
}